.mailing-list {
  margin: 150px auto;
  width: 95%;
}

.mailing-list-header {
  background-color: var(--secondary-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.mailing-list-header h1 {
  padding-left: 25px;
  border-left: 10px solid rgba(21, 21, 21, 0.5);
  font-size: 50px;
}

.mailing-list-header p {
  padding-left: 10px;
  font-size: 28px;
  font-weight: 400;
}

.mailing-list-form-wrapper {
  padding: 70px;
  position: relative;
  background: url("../../assets/cfm_studios_blurred.svg") no-repeat center
    center / cover;
  border: 3px solid var(--secondary-color);
}

.mailing-list-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.mailing-list-form input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  padding: 15px 25px 10px;
  margin: 5px 0;
  color: var(--text-color);
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: 500;
}

.mailing-list-form button {
  width: 90%;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: 600;
  border: none;
  padding: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.mailing-list-form button:hover {
  background: #000000;
}

.mailing-list-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.95);
  border: 25px solid var(--complementary-color);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  font-size: 30px;
  font-weight: 500;
  font-variant: small-caps;
}

.mailing-list-yt-sub {
  background: var(--secondary-color);
  font-size: 0.65em;
  font-variant: normal;
  font-weight: 600;
  padding: 1em 1.5em;
  border-radius: 5px;
}

.mailing-list-popup-close {
  position: absolute;
  top: 1em;
  right: 1em;
  background: var(--complementary-color);
  padding: 0.5em 0.8em;
  font-size: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .mailing-list {
    margin: 100px auto 80px;
    width: 90%;
  }

  .mailing-list-header {
    gap: 30px;
    padding: 28px;
  }

  .mailing-list-header h1 {
    padding-left: 20px;
    font-size: 35px;
    border-left: 8px solid rgba(21, 21, 21, 0.5);
  }

  .mailing-list-header p {
    font-size: 20px;
  }

  .mailing-list-form-wrapper {
    padding: 40px;
  }

  .mailing-list-form {
    gap: 40px;
  }

  .mailing-list-form input {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 10px 20px 8px;
    font-size: 20px;
  }

  .mailing-list-form button {
    width: 85%;
    font-size: 20px;
    padding: 20px;
  }

  .mailing-list-popup {
    border: 20px solid var(--complementary-color);
    gap: 35px;
    font-size: 22px;
  }

  .mailing-list-yt-sub {
    padding: 0.8em 1.25em;
  }
}

@media only screen and (max-width: 967px) {
  .mailing-list {
    margin: 80px auto 60px;
  }

  .mailing-list-header {
    gap: 25px;
    padding: 25px;
  }

  .mailing-list-header h1 {
    font-size: 32px;
    padding-left: 18px;
    border-left: 6px solid rgba(21, 21, 21, 0.5);
  }

  .mailing-list-header p {
    padding-left: 5px;
    font-size: 16px;
  }

  .mailing-list-form-wrapper {
    padding: 30px;
  }

  .mailing-list-form {
    gap: 30px;
  }

  .mailing-list-form input {
    font-size: 18px;
  }

  .mailing-list-form button {
    font-size: 17px;
    padding: 15px;
  }

  .mailing-list-popup {
    border: 15px solid var(--complementary-color);
    gap: 30px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 502px) {
  .mailing-list {
    margin: 70px auto 55px;
  }

  .mailing-list-header {
    gap: 15px;
    padding: 20px;
  }

  .mailing-list-header h1 {
    font-size: 26px;
    padding-left: 15px;
  }

  .mailing-list-header p {
    padding-left: 0;
    font-size: 15px;
  }

  .mailing-list-form-wrapper {
    padding: 20px;
    border: 2px solid var(--secondary-color);
  }

  .mailing-list-form {
    gap: 20px;
  }

  .mailing-list-form input {
    font-size: 16px;
    padding: 8px 8px 5px;
  }

  .mailing-list-form button {
    font-size: 16px;
    padding: 14px;
  }

  .mailing-list-popup {
    border: 10px solid var(--complementary-color);
    gap: 20px;
    font-size: 16px;
  }

  .mailing-list-yt-sub {
    padding: 0.6em 1em;
  }
}
